:root {

    --box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ), 0 1px 2px rgba( 0, 0, 0, 0.24 );
    --norm-radius: 10px;

}

body {

    margin: 0px;
    background-color: var( --table-solid );

}

nav-panel ul {

    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    
}

nav-panel li {

    padding: 5px;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var( --table-solid );
    margin: 24px 0;
    padding: 0;
}

.dot {

    width:350px;
    height:1px;
    margin-top:10px;
    background-image:linear-gradient(to right, #f20afb 0%, #f20afb 50%, transparent 50%);
    background-size:28px 1px;
    background-repeat:repeat-x;

}

.board {

    display: flex;
    flex-direction: column;
    max-width: 800px;
    
    margin: 0 auto;
    padding: 30px;

    background-color: #fff;
    border-radius: var( --norm-radius );
    box-shadow: var( --box-shadow );

}

.fa-home {

    cursor: pointer;

}

a {

    color: var( --menu-color-font );

}

.background {

    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: var( --table-solid );

}

img {

    width: 100%;
    max-width: 384px;
    border-radius: var( --norm-radius );

    display: block;
    margin-left: auto;
    margin-right: auto;

    /* filter: invert(100%); */

}

#small-desc {

    font-size: 20px;

}

@media( max-width: 360px ) {

    .board {

        padding: 15px;
    }

    #root {

        padding: 0;
    }
}
