:root {

    --menu-width: 400px;
    --menu-padding: 16px;
    --font-size-input: 16px;
    --menu-radius: 20px;

}

.menu {

    border-left: 5px solid var( --table-solid );
    background-color: #fff;
    width: var( --menu-width );
    height: 80%;
    position: fixed;
    padding: var( --menu-padding );
    box-shadow: var( --box-shadow );
    z-index: 100;
    top: 10%;

    border-top-right-radius: var( --menu-radius );
    border-bottom-right-radius: var( --menu-radius );

    left: calc( -1 * var( --menu-width ));

}

.menu .scroll {

    height: 100%;
    overflow: auto;
    padding-right: var( --menu-padding );

}

.menu hr {

    padding: 0 var( --menu-padding );

}

.menu #header h1 {

    margin: 0;

}

.menu #inputWraper {

    display: flex;
    align-items: center;

}

.menu #inputWraper #filterInput {

    width: 100%;
    flex: 1;
    margin: 0 var( --menu-padding );
    mask-position: 0 50%;
    mask-repeat: no-repeat;
    font-family: arial, sans-serif;
    font-size: var( --font-size-input );

}

.menu #inputWraper #language {

    width: 50px;
    font-size: var( --font-size-input );
    cursor: pointer;

}

.fade {

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -10;
    position: fixed;
    display: flex;

}

@keyframes menuMove-in {

    from {

        left: calc( -1 * var( --menu-width ));

    }

    to {

        left: 0px;

    }

}

@keyframes menuMove-out {

    from {

        left: 0;

    }

    to {

        left: calc( -1 * var( --menu-width ));

    }

}

@keyframes fade-out {

    from {

        opacity: 0.5;

    }

    to {

        opacity: 0;

    }

}

@keyframes fade-in {

    from {

        opacity: 0;

    }

    to {

        opacity: 0.5;

    }

}