:root {

    --table-row: #f3f6f6;
    --table-solid: #e1e4e5;
    --code-span: #e74c3c;
    --page-padding: 24px;
    --code-font: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;

}

* {

    box-sizing: border-box;

}

body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}

#root {

    padding: 1.618em 1.618em;

}

table {

    border-collapse: collapse;
    width: 100%;

}

tr {

    border: 1px solid var( --table-solid );

}

th {

    border-left: 1px solid var( --table-solid );
    text-align: left;
    padding: 8px 16px;
    font-weight: normal;

}

tr:nth-child(2n-1) {

    background-color: var( --table-row );

}

code, light-code, select-color select {

    font-family: var( --code-font );
}

p code, select-color  {

    display: flex;
    justify-content: center;

}

.description code {

    display: inline;

}

p code span, li code span, select-color select {

    border: 1px solid var( --table-solid );
    background-color: #fff;
    color: var( --code-span );
    padding: 2px 5px;

}

light-code {

    background-color: var( --table-row );
    border: 1px solid var( --table-solid );

}

light-code:not(.inline) {

    display: block;
    padding: calc(var(--page-padding) - 0px) var(--page-padding);
    white-space: pre-wrap;
    overflow: auto;
    box-sizing: border-box;

}

p, .p-default {

    font-size: 18px;
    margin: 0;
    align-items: center;

}

.p-default .fa-caret-right {

    color: var( --table-solid );

}

.line-space {

    line-height: 2em;

}

#meth-name.parameters {

    margin-bottom: 10px;

}

p code, light-code, li code span, select-color select {

    font-size: 16px;

}

h1 {

    font-size: 175%;

}

h2 {

    font-size: 150%;

}

a:link {

    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

.icon-home::before {
    content: "[ ]";
}

.row {

    display: flex;
}

.fix-line {

    align-items: flex-start;
    display: flex;

}

.fix-line .fa {

    margin-right: 8px;

}

.row .fa {

    margin-right: 8px;
    align-items: center;

}

.name li div {

    display: flex;

}

.section .row strong, .section p strong {

    margin-left: 5px;

}

#property-descriptions table {

    width: auto;
    margin-bottom: 25px;

}

.section h2 {

    margin-top: 25px;
    margin-bottom: 25px;

}

.section ul {

    padding-inline-start: 20px;
    margin-bottom: 25px;
    margin-top: 0;

}

select-color select {

    cursor: pointer;

}

root-page .loader {

    justify-content: center;
    display: flex;

}

.space {

    margin-left: 0.5em;

}

#rss {

    font-size: 25px;

}

.row {

    align-items: center;

}

/* inhe-info */
inhe-info div {

    flex-wrap: wrap;

}

inhe-info .section {

    margin-bottom: 25px;

}

inhe-info p {

    margin-right: 10px;

}

inhe-info .row .fa {

    margin-right: 17px;
    font-size: 22px;

}

inhe-info .row .fa-chevron-left, inhe-info .row .fa-caret-left {

    margin-right: 10px;
    font-size: 11px;

}

inhe-info .row .fa-caret-left {

    font-size: 19px;

}

.row.center {

    flex-wrap: nowrap;

}

/* sign-desc */
#signal-name {

    margin-bottom: 25px;

}

root-page {

    box-sizing: border-box;
    /* overflow: auto;
    height: 48vh; */
    /* margin-top: 50px; */

}

.table-responsive {

    overflow: auto;

}

#lambda {

    font-size: 22px;
    font-weight: 500;
    font-family: -apple-system, Roboto, sans-serif;

}